body,
html {
  height: 100%;
  margin: 0;
}
#myVideo {
  position: fixed; /* Fixar o vídeo em relação à janela de visualização */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Usa a largura da viewport */
  height: 100vh; /* Usa a altura da viewport */
  object-fit: cover; /* Garante que o vídeo cubra o espaço disponível sem distorções */
}

/* Removido para evitar o vídeo aparecer claro */
/* video {
  opacity: 1;
} */
